.logoC {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.logoC .regs,
.logoC .toggleI {
  display: none;
}
.link {
  padding: 0.5rem 1rem;
  transition: color 0.2s ease-in-out;
  font-family: var(--desc-font);
  font-size: 1rem;
}
.regs .link {
  padding: 0.5rem 3.1rem;
  font-weight: 500;
}
.regs {
  justify-content: center;
  align-items: center;
}
.mainC {
  display: flex;
  justify-content: space-between;
  transition: height 1s ease-in-out;
  background-color: var(--dark-col1);
  overflow: hidden;
  height: fit-content;
  flex-grow: 1;
}
.mainC nav{
  border: 1px dashed #eee;
  margin: auto;
}
.toggleI{
    font-size: 1.75rem;
}
@media (max-width: 900px) {
  .logoC {
    flex-grow: 1;
    justify-content: space-between;
  }
  .logoC .regs {
    display: flex;
  }
  .logoC .regs,
  .logoC .toggleI {
    display: block;
  }
  .mainC {
    flex-basis: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    width: 100%;
  }
  .mainC.open {
    height: 100vh;
  }
  .mainC .regs {
    display: none;
  }
  .mainC .link, .regs .link{
    display: block;
    padding: .5rem 2rem;
  }
}
@media (max-width: 600px) {
  .logoC .regs {
    display: none;
  }
  .mainC {
    flex-direction: column;
  }
  .mainC .regs {
    display: flex;
  }
  .regs {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (hover: hover) {
  .link:hover a,
  .link:hover {
    color: var(--gold-col-1);
  }
}
