.toggleI{
    cursor: pointer;
    display: none;
    font-size: 1.45rem;
}
.link{
    font-family: var(--desc-font);
    padding: .5rem 1rem;
}
@media(max-width: 900px){
    .logoC{
        order: 1;
    }
    .regsC{
        order: 2;
        flex-basis: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .regsC .toggleI{
        display: block;
    }
    .mainC{
        order: 3;
        flex-basis: 100%;
    }
}
@media(max-width: 600px){
    .logoC{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 100%;
    }
    .regsC{
        flex-basis: 100%;
    }
    .logoC .toggleI{
        display: block;
    }
    .regsC .toggleI{
        display: none;
    }
}
@media(hover: hover){
    .link:hover a{
        color: var(--gold-col-1);
    }
}