.container p{
    text-align: center;
    font-size: 1rem;
    color: var(--gray-col2);
    font-size: 1rem;
    line-height: 28px;
    font-family: var(--desc-font);
}
.container{
    width: 100%;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
}
@media(max-width: 900px){
    .container{
        padding-bottom: 2rem;
    }
}
@media(max-width: 600px){
    .container{
        padding-bottom: 2.25rem;
    }
}