.text{
    display: block;
    overflow: hidden;
}
.body{
    font-size: var(--normal-size);
    font-family: var(--body-font);
}
.title{
    font-size: var(--title-size);
    font-family: var(--title-font);
    color: var(--gold-col-1);
    font-weight: 700;
}
.desc{
    font-family: var(--desc-font);
    font-size: var(--desc-size);
}
@media(max-width: 900px){
    .title{
        font-size: 3rem;
    }
}
@media(max-width: 600px){
    .title{
        font-size: 2rem;
    }
}