.container{
    flex-basis: 70%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.container:first-child{
    padding: 4rem;
    background-color: var(--dark-col4);
    border: 1px solid var(--gray-col3);
    box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
}
.container > *{
    text-align: center;
}
@media(max-width: 600px){
    .container:first-child{
        padding: 1.5rem;
    }
}