@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,400;0,600;1,300;1,400;1,600&family=Roboto:wght@300;400;500&display=swap');
:root{
  font-size: 16px;
  --gold-col-1: #ddca87;
  --gold-col-2: #f5efdb;
  --gold-col3: #ddca8833;
  --dark-col1: #0c0b08;
  --dark-col2: #050505;
  --dark-col3: #272626;
  --dark-col4: #0c0c0c;
  --gray-col1: #a6a6a6;
  --gray-col2: #ababab;
  --gray-col3: #dcca8733;
  --text-col: white;
  --main-size: 90px;
  --title-size: 64px;
  --subtitle-size: 23px;
  --normal-size: 16px;
  --title-font: 'Cormorant Upright', sans-serif;
  --desc-font: 'Open Sans', sans-serif;
  --body-font: 'Roboto', sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  background: url(../public/assets/global/main-bg.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  font-family: 'Cormorant Upright', sans-serif;
  color: var(--text-col);
  font-size: var(--normal-size);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}